{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^@app/(.*)$",
    "^@libs/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}